$black: #333;
$white: #fff;

$darkerGrey: #666;
$darkGrey: #757575;
$grey: #999;
$lightGrey: #e5e5e5;
$lighterGrey: #eee;
$lightestGrey: #f9f9f9;

$blue: #426eb5;
$lightBlue: #3b6db6;
$darkBlue: #0a538d;

$boxShadow: 0 1px 4px rgba(0, 0, 0, 0.3);

$basicTimingFunction: cubic-bezier(0,0,0.3,1);
$bounceTimingFunction: cubic-bezier(.79,.27,.37,1.21);

$fontFamily: "ProximaNova", "Interval Sans Pro", Arial, Helvetica, sans-serif;
$fontFamilyBasic: Arial, Helvetica, sans-serif;

$Parent-max-width: 600px;
$Parent-horizontal-margin: 15px;
$Question-max-width: 804px;
