@import "../../variables";

h1 > .Kicker {
  margin-bottom: 0.25em;
  color: $orange;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
}

@media #{$md-lg} {
  h1 > .Kicker {
    font-size: 22px;
  }
}
