.QuestionLabel {
  margin: -20px -20px 15px;
  border-radius: 3px 3px 0 0;
  padding-top: 0.125em;
  background-color: $darkerGrey;
  color: $white;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.875;
  text-align: center;
  text-transform: uppercase;

  @media #{$mq-sm} {
    border-radius: 0;
  }
}
