.QuestionExpert {
  @media #{$mq-lg} {
    margin: 0 -7.5px;
  }
}



.QuestionExpert-response {
  margin: 0 auto;
  max-width: 38.458rem; // Mock Odyssey column width
  text-align: left;
}

.QuestionExpert-response h2,
.QuestionExpert-response h3, {
  margin: 0 0 10px !important;
  font-size: 1.285714286em !important;
  font-weight: bold !important;
  line-height: 1.2222 !important;
  text-align: center;
}

.QuestionExpert-source {
  color: $grey;
	font-size: 12px;
  font-style: italic;
  text-align: left;
}
