$black: #333;
$white: #FFF;

$darkerGrey: #666;
$darkGrey: #757575;
$grey: #999;
$lightGrey: #E5E5E5;
$lighterGrey: #EEE;
$lightestGrey: #F9F9F9;

$blue: #426EB5;
$lightBlue: #3B6DB6;
$darkBlue: #0A538D;
$orange: #BE4233;

$boxShadow: 0 1px 4px rgba(0, 0, 0, 0.3);

$basicTimingFunction: cubic-bezier(0,0,0.3,1);
$bounceTimingFunction: cubic-bezier(.79,.27,.37,1.21);

$fontSans: ABCSans, Helvetica, Arial, sans-serif;

$Parent-max-width: 600px;
$Parent-horizontal-margin: 15px;
$Question-max-width: 804px;
